<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.demo.springboot.mapper.ClazzMapper">
    <!--获取班级-->
    <select id="getClazzs" parameterType="clazz" resultMap="clazzMap">
        select * from t_clazz a
        left join t_student b on a.clazzId = b.clazzId
    </select>

    <!--添加班级-->
    <insert id="addClazz" parameterType="clazz">
      insert into t_clazz(clazzName)
      values (#{clazzName})
    </insert>

    <resultMap id="clazzMap" type="clazz">
        <result property="clazzId" column="clazzId"/>
        <result property="clazzName" column="clazzName"/>
        <collection property="students" javaType="list" ofType="student">
            <result column="studentId" property="studentId"/>
            <result column="studentName" property="studentName"/>
        </collection>
    </resultMap>
</mapper>