<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script th:src="@{../demo/js/jquery.js}" type="text/javascript"></script>
    <script>
        $(function () {
            alert(123);
        });
    </script>
</head>
<body>
    <h1 id="date" th:text="${now}"></h1>
    <script>
        var webSocket = null;

        if ("WebSocket" in window){
            webSocket = new WebSocket("ws://localhost:8080/demo/webSocketServer");
            webSocket.onmessage = function (ev) {
                $("#date").html(ev.data);
            }
        }else{
            alert("浏览器不支持webSocket");
        }

        if (webSocket != null){
            setInterval(function () {
                webSocket.send("获取时间");
            },1000);
        }
    </script>
</body>
</html>